body {
    margin: 0;
    padding: 0;
    font-family: verdana,arial,helvetica,sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    // min-width: 1170px;
}

#content-wrapper {
    width: 100%;
}

#content {
    margin-left: auto;
    margin-right: auto;
}
#content {
    background-color: rgba(255, 255, 255, 0) !important;
    background-image: url('../img/tv.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    overflow: visible;
    position: absolute !important;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
    left: 0;
    right: 0;
    display: block;
    background-size: contain;
    max-width: 1632px;
    min-height: 1000px;
}
@media screen and (min-width: 1455px){
  #content{background-size: contain;}
}

/* Full Screen Player kind of
@media screen and (max-width: 850px){
  #player{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100% !important;
    height: 100% !important;
  }
}
*/

#sidebar {
    float: left;
    width: 100px;
}

#channel-list, #promo-channel {
    padding-top: 50px;
}

#channel-list.promo {

    padding-top: 0px !important;
}

#about {
    margin-top: 15px;
    padding-top: 15px;
    font-size: x-small;
    text-align: center;
}

#video-display {
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#video-display {
    background-color: rgba(255, 255, 255, 0) !important;
    margin: 92px auto;
    display: block;
    float: none;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
@media screen and (min-width: 1455px){
  #video-display{// max-width: 1255px;}
}

#video-embed {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#video-source {
    margin-right: 15px;
    text-align: right;
    font-size: 10px;
    line-height: 1em;
    height: 15px;
}



.embed-container {
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-title {
    font-size: 12px;
    line-height: 12px;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    padding: 12px 15px 6px 15px;
    white-space: wrap;
    display: none;
}

#video-title a {
    text-decoration: none;
}

#video-nav {
    position: absolute;
    bottom: 35px;
    left: 45px;
    z-index: 90;
}
@media screen and (max-width: 1580px){
  #video-nav{bottom: 32px;}
}
@media screen and (max-width: 1490px){
  #video-nav{bottom: 27px;}
}
@media screen and (max-width: 1350px){
  #video-nav{bottom: 24px;}
}
@media screen and (max-width: 1240px){
  #video-nav{bottom: 19px;}
}

#video-list {
    display: none;
    clear: both;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 15px 15px 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    height: 0;
    padding: 0;
    display: none !important;
}

#video-list img {
    min-width: 60px;
    height: 60px;
    margin: 0 2px;
    vertical-align: middle;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: hand;
    cursor: pointer;
}

#channel-list, #promo-channel {
    font-size: small;
}

#channel-list ul, #promo-channel ul { /* remove bullets and list indents */
    list-style: none;
    margin: 0;
    padding: 0;
}

#channel-list li, #promo-channel li {
    padding: 1px 15px;
    margin-bottom: 2px;
    cursor: hand;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}

#add-channel {
    text-align: center;
    margin-top: 15px;
}

#channel-add {
    margin-top: 5px;
}

#channel-name {
    width: 85%;
    border-radius: 7px;
    padding: 3px;
    text-align: center;
}

#header {
    position: relative;
    font-size: small;
}

#options {
    font-size: x-small;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 90;
}

#css {
    margin: 0 0 0 15px;
    padding: 0;
}

#css ul {
    display: inline;
}

#css li {
    display: inline;
    list-style: none;
}

form label {
    vertical-align: top;
}

#footer {
    font-size: x-small;
    clear: both;
    padding-top: 15px;
    margin-left: 100px;
    text-align: center;
}

#also-like {
    margin-top: 15px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#vote-button {
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
}
#next-button {
    float: right;
}
#prev-button {
    float: left;
}

#channel-list .chan-selected, #promo-channel .chan-selected {
    font-weight: bold;
}

#fill-overlay {
    display: none;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#fill-nav {
    padding: 15px;
    text-align: center;
    opacity: .8;
    display: none;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.nav-button {
    display: none;
    text-align: center;
    margin: 0 10px 10px;
    padding: 6px 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}



.user-chan:hover .remove-chan {
    visibility: visible;
}

.remove-chan {
    float: right;
    visibility: hidden;
    padding-right: 0;
    margin-right: -8px;
}

.loading {
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    min-height: 696px;
}

.fill-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right {
    float: right;
}

a {
    color: inherit;
    cursor: hand;
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
