@media (max-width:1170px) {

  #gutter-1 {

    left: 0px !important;
    margin-left: auto !important;
  }

  #gutter-2 {
    right: 0px !important;
    margin-right: auto !important;
  }
}

#gutter-1 {
  left: 50%;
  margin-left: -575px;
  top: 0px;
  z-index: -1;
  position: absolute;
  width: 500px;
  background-repeat: no-repeat;
  background: url("../img/left-big-2.jpg");
  height: 600px;
}

#gutter-2 {
  right: 50%;
  margin-right: -575px;
  top: 0px;
  width: 499px;
  position: absolute;
  z-index: -2;
  height: 610px;
  background-repeat: no-repeat;
  background: url("../img/right-big-2.jpg");
}

body {
    background-color: black;
}

#video-display {
    -moz-box-shadow: 5px 5px 5px darkblue;
    -webkit-box-shadow:  0px 0px 6px white;
    box-shadow:  0px 0px 6px white;
    background-color: #1B1B1B;
}

#video-source {
    color: #333333;
}

#video-title {
    color: #AAA;
}

#video-title a {
    color: #AAA;
}

#video-list {
    border: none;
    background-color: #1b1b1b;
}

#video-list img {
    border: none;
}

#video-list .focus {
    border: none;
    box-shadow: 0px 0px 6px white;
}

#channel-list li, #promo-channel li {
    color: rgb(109, 109, 109);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.75);
}

#channel-list li:hover, #promo-channel li:hover {
    background-color: #e0e0e0;
    background-color: #1B1B1B !important;
    color: white;
}

#about {
    border-top: 1px dashed #333;
    color: #666;
}

#header {
    color: gray;
}

#footer {
    color: #333;
}

#also-like {
    background: #222;
    border: 1px solid #333;
    color: #444;
}

#vote-button {
    color: #5f99cf;
}

#channel-list .chan-selected, #promo-channel .chan-selected, .chan-selected li:hover {
    color: rgb(204, 204, 204);
    -moz-box-shadow: 0px 0px 6px white;
    -webkit-box-shadow: 0px 0px 6px white;
    box-shadow: 0px 0px 6px white;
    background-color: #1B1B1B !important;
}

#channel-name {
    background: #181818;
    border-color: #555;
    color: gray;
}

#channel-add {
    background-color: #444;
    color: gray;
    border-color: #666;
    border: none;
}

#fill-nav {
    background-color: white;
}
::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #1b1b1b;
      }::-webkit-scrollbar-button{
        height: 2px;
      }::-webkit-scrollbar-corner{
        background-color: #1b1b1b;
      }::-webkit-scrollbar-track{
        visibility: hidden;
        background-color: #1b1b1b;
      }::-webkit-scrollbar-track-piece{
        background: #1b1b1b;
      }::-webkit-scrollbar-thumb{
        border-radius: 9px;
        background: #000;
      }::-webkit-scrollbar-thumb:hover{
        border-radius: 9px;
        background: #fff;
      }::-webkit-scrollbar-thumb:window-inactive{
        background-color: 1b1b1b;
        }
        
        input[type="checkbox"] {
margin: 3px 3px 3px 4px;
background-color: black;
background-image: none;
}

*{
transition: color 0.5s;
-moz-transition: color 0.5s;
-webkit-transition:  color 0.5s;
-o-transition:  color 0.5s;
transition: background-color 0.2s;
-moz-transition: background-color 0.2s;
-webkit-transition:  background-color 0.2s;
-o-transition:  background-color 0.2s;
}

.nav-button {
    -moz-box-shadow: 1px 1px 1px black, inset 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black, inset 1px 1px 1px black;
    box-shadow: 1px 1px 1px black, inset 1px 1px 1px black;
    text-shadow: none;
    color: black;
    background-color: #1F1F1F;
    border: none;
    text-decoration: none;
    padding: 5px 15px 2px 15px;
}

a.nav-button:hover {
    border: none;
    color: white;
    box-shadow: 0px 0px 6px white;
}

.loading {
    background-image: url('../img/loading_dark.gif');
}

