@media (min-width:1123px) and (max-width:1318px) {

  #gutter-1 {
    left:-90px;
  }

  #gutter-2 {
    right: 4% !important;
  }
}

@media (max-width:1122px) {

  #gutter-1 {
    right:0px;
  }

  #gutter-2 {
    display: none;
  }
}

#gutter-1 {
  top: 48px;
  z-index: -1;
  position: absolute;
  width: 256px;
  //background: url(../img/left.png);
  height: 612px;
}

#gutter-2 {
  top: 50px;
  width: 150px;
  //background: url(../img/right.png);
  position: absolute;
  z-index: -1;
  right: 65px;
  height: 599px;
}

body {
    background-color: white;
}

#video-display {
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    background-color: #cee3f8;
}

#video-source {
    color: #5f99cf;
}

#video-title {
    color: #5f99cf;
}

#video-title a {
    color: #5f99cf;
}

#video-list {
    border: 2px solid lightgray;
    background-color: #A2AEBA;
}

#video-list img {
    border: 4px solid lightgray;
}

#video-list .focus {
    border: 6px solid #5f99cf;
}

#channel-list li {
    color: gray;
}

#channel-list li:hover {
    background-color: #e0e0e0;
    background-color: rgba(0,0,0,0.1);
}

#about {
    border-top: 1px dashed lightgray;
    color: gray;
}

#header {
    color: gray;
}

#footer {
    color: lightgray;
}

#also-like {
    background: #eee;
    border: 1px solid lightblue;
    color: #444;
}

#vote-button {
    color: #5f99cf;
}

#channel-list .chan-selected, .chan-selected li:hover {
    color: darkblue;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    background-color: #cee3f8 !important;
}

#channel-name {
    background: #EFEFFF;
    color: gray;
    border-color: #DDD}

#channel-add {
    background: #EFEFFF;
    color: gray;
    border-color: #DDD;
}

#fill-nav {
    background-color: white;
}

.nav-button {
    -moz-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    text-shadow: 0px 1px 1px hsla(0,0%,100%,.7);
    color: black;
    background-color: #cee3f8;
}

a.nav-button:hover {
    border: 1px solid gray;
    color: darkblue;
}

.loading {
    background-image: url('../img/loading_light.gif');
}
