@media (max-width:1170px) {

    #gutter-1 {

        left: 0px !important;
        margin-left: auto !important;
    }

    #gutter-2 {
        right: 0px !important;
        margin-right: auto !important;
    }
}

#gutter-1 {
    display: none;
    left: 50%;
    margin-left: -575px;
    top: 0px;
    z-index: -1;
    position: absolute;
    width: 500px;
    background-repeat: no-repeat;
    background: url("../img/left-big-2.jpg");
    height: 600px;
}

#gutter-2 {
    display: none;
    right: 50%;
    margin-right: -575px;
    top: 0px;
    width: 499px;
    position: absolute;
    z-index: -2;
    height: 610px;
    background-repeat: no-repeat;
    background: url("../img/right-big-2.jpg");
}

body {
    background-color: white;
}

#video-display {
    -moz-box-shadow: 0px 0px 6px #333;
    -webkit-box-shadow: 0px 0px 6px #333;
    box-shadow: 0px 0px 6px #333;
    background-color: #c9c9c9;
}

#video-source {
    color: #333333;
}

#video-title {
    color: #000;
}

#video-title a {
    color: #000;
}

#video-list {
    border: none;
    background-color: #c9c9c9;
}

#video-list img {
    border: none;
}

#video-list .focus {
    border: 2px solid red;
    box-shadow: 0px 0px 6px #333;
}

#channel-list li, #promo-channel li {
    color: #777;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.75);
}

#channel-list li:hover, #promo-channel li:hover {
    background-color: #C9C9C9;
    color: #000;
}

#about {
    border-top: 1px dashed #333;
    color: #666;
}

#header {
    color: gray;
}

#footer {
    color: #333;
}

#also-like {
    -moz-box-shadow: 0px 0px 6px #333;
    -webkit-box-shadow: 0px 0px 6px #333;
    box-shadow: 0px 0px 6px #333;
    background-color: #c9c9c9;
}

#vote-button {
    color: #5f99cf;
}

#channel-list .chan-selected, #promo-channel .chan-selected, .chan-selected li:hover {
    color: #000;
    -moz-box-shadow: 0px 0px 6px #333;
    -webkit-box-shadow: 0px 0px 6px #333;
    box-shadow: 0px 0px 6px #333;
    background-color: #c9c9c9 !important;
}

#channel-name {
    background: #181818;
    border-color: #555;
    color: gray;
}

#channel-add {
    background-color: #444;
    color: gray;
    border-color: #666;
    border: none;
}

#fill-nav {
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #c9c9c9;
}

::-webkit-scrollbar-button {
    height: 2px;
}

::-webkit-scrollbar-corner {
    background-color: #c9c9c9;
}

::-webkit-scrollbar-track {
    visibility: hidden;
    background-color: #c9c9c9;
}

::-webkit-scrollbar-track-piece {
    background: #c9c9c9;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 9px;
    background: #000;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: 1 b1b1b;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    background-color: black;
    background-image: none;
}

* {
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.nav-button {
    -moz-box-shadow: 1px 1px 1px white, inset 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 1px white, inset 1px 1px 1px white;
    box-shadow: 1px 1px 1px white, inset 1px 1px 1px white;
    text-shadow: none;
    color: #333;
    background-color: #ccc;
    border: none;
    text-decoration: none;
    padding: 5px 15px 2px 15px;
}

a.nav-button:hover {
    border: none;
    color: black;
    box-shadow: 0px 0px 6px #333;
}

.loading {
    background-image: url('../img/loading_dark.gif');
}

