body {
    font-family: verdana,arial,helvetica,sans-serif;
}

#content-wrapper {
    width: 100%;
}

#content {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#channel-list {
    padding-top: 55px;
    width: 100px;
    float: left;
}

#video-display {
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    -moz-border-radius: 15px;
    width: 640px;
    float: left;
    background-color: #cee3f8;
}

#video-embed {
    padding: 15px 0 0;
    text-align: center;
    min-width: 600px;
    min-height: 365px;
}

#video-title {
    color: white;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    padding: 15px;
    background-color: #5f99cf;
    white-space:nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;    /* Opera */
    text-overflow:    ellipsis;
}

#video-title a {
    color: white;
    text-decoration: none;
}

#video-nav {
    padding: 15px;
}

#channel-list ul { /* remove bullets and list indents */
    list-style: none;
    margin: 0;
    padding: 0;
}

#channel-list li {
    //font-variant:small-caps;
    color: gray;
    padding: 1px 15px;
    margin-bottom: 2px;
    cursor: hand;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}

#channel-list li:hover {
    background-color: #e0e0e0;
    background-color: rgba(0,0,0,0.1);
}

#header {
    margin-left: 100px;
    padding: 0 15px;
    color: gray;
    font-size: small;
}

#footer {
    color: gray;
    font-size: small;
    clear: both;
    padding: 15px;
    margin-left: 100px;
    text-align: center;
}

#next-button {
    float: right;
}
#prev-button {
    float: left;
}

#channel-list .chan-selected {
    color: darkblue;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    background-color: #cee3f8;
    font-weight: bold;
}

.nav-button {
    -moz-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    text-shadow: 0px 1px 1px hsla(0,0%,100%,.7);
    text-align: center;
    margin-bottom: 15px;
    padding: 6px 16px;
    color: darkblue;
    background-color: #5f99cf;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

a.nav-button:hover {
    padding: 5px 15px;
    border: 1px solid gray;
    color: black;
}



.loading {
    background-image: url('./loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.fill-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right {
    float: right;
}

a {
    cursor: hand;
    cursor: pointer;
}